body {
    background:#f0ede8;
}

p {
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 14px;
}

h1,h2,h3 {
    font-family: Arial, 'Helvetica', sans-serif;
    font-weight: 700;
}

.active {
    color: red;
    font-style: italic;
}

/* NAVIGATION */

.nav-list {
    text-align: center;
}

.nav-list a {
    font-family: Arial, 'Helvetica', sans-serif;
    font-weight: 700;  
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: #000;
    padding: 22px;
}

.nav-list a:hover {
    font-style: italic;
} 
